body {
    line-height: 1.8;
    color: #f5f6f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-default{
    background-color: #2E382E;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.navbar-default .navbar-brand {
     color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #9EE493 !important;
}

.navbar-nav li a:hover {
    color: #9EE493 !important;
}

p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 500px;
    width: 100%;
}

section {
    height: 500px;
    overflow: auto;
    padding: 60px 0;
}

section iframe {
    width: 100%;
    height: 500px;
}

.no-padding {
    padding: 0;
}

section .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.margin {
    margin-bottom: 45px;
}

header img {
    margin-top: 25px;
}

.header-img {
    background: url('../img/img3.jpeg') no-repeat center center fixed;
    color: #fff;
    background-size: cover;
    opacity: 0.8;
}

.aboutsec {
    background-color: #ffffff;
    color: #000000;
    height: 300px;
}

@media only screen and (max-width: 320px) {}

.testimonal-img {
    background: url('../img/img6.jpeg') no-repeat center center fixed;
    color: #fff;
    background-size: cover;
    height: 500px;
}

.aroundtheweb {
    background: url('../img/img1.jpeg') no-repeat center center fixed;
    color: #fff;
    background-size: cover;
    height: 300px;
}

.aroundtheweb i {
    padding: 0 20px 0 20px;
    color: #fff;
}

.port {
    background-color: #ffffff;
    height: auto;
    color: #fff;
}

.port img {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(63, 136, 197, .9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}


/* Carousel */

#fade-quote-carousel.carousel {
    padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #5DD39E;
    border: none;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}


/* Contact Form */

.modal-header {
    padding-bottom: 5px;
    color: #000000;
}

.modal-body {
    color: #000000;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height: 60px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

.contactmod {
    height: 200px;
    background-color: #2E382E;
}

.contactmod .btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.contactmod label {
    color: #000000;
}

.bot-footer {
    background-color: #585858;
}

.maps{
    width: 100%;
    height: auto;
}

